[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spyder = "*"
tqdm = "*"
dotenv = "*"
pywin32 = "*"
py7zr = "*"
pillow = "*"
pyautogui = "*"
pytesseract = "*"
opencv-python = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.12"
